[defaults]
roles_path = roles
retry_files_enabled = false
stdout_callback = default
display_skipped_hosts = false
display_ok_hosts = true
callbacks_enabled = profile_tasks
interpreter_python = auto_silent
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts
fact_caching_timeout = 3600
host_key_checking = true

[privilege_escalation]
become = false

[ssh_connection]
pipelining = true
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new
control_path = /tmp/outer-ansible-cp/%%r@%%h-%%p
