[
{% set comma = joiner(",\n") %}
{% for zone in network.internal_dns.zones | default([]) %}
{% for record in zone.records | default([]) %}
{% for name in record.names | default([]) %}
{{ comma() }}  {
    "name": {{ name | to_json }},
    "type": "{{ 'AAAA' if ':' in record.address else 'A' }}",
    "value": {{ record.address | to_json }}
  }
{% endfor %}
{% endfor %}
{% endfor %}
]
