#!/bin/sh
set -eu

certificate_name="${1:?certificate name is required}"

case "$certificate_name" in
{% for certificate in fun_games_edge_acme_certificates %}
  "{{ certificate.name }}")
    lineage="/etc/letsencrypt/live/{{ certificate.name }}"
    test -s "$lineage/fullchain.pem"
    test -s "$lineage/privkey.pem"
{% for domain in certificate.domains %}
    install -o root -g "{{ fun_games_edge_tls_group_gid }}" -m 0644 \
      "$lineage/fullchain.pem" \
      "{{ fun_games_edge_install_root }}/certs/{{ domain }}.crt.next"
    install -o root -g "{{ fun_games_edge_tls_group_gid }}" -m 0640 \
      "$lineage/privkey.pem" \
      "{{ fun_games_edge_install_root }}/certs/{{ domain }}.key.next"
    mv "{{ fun_games_edge_install_root }}/certs/{{ domain }}.crt.next" \
      "{{ fun_games_edge_install_root }}/certs/{{ domain }}.crt"
    mv "{{ fun_games_edge_install_root }}/certs/{{ domain }}.key.next" \
      "{{ fun_games_edge_install_root }}/certs/{{ domain }}.key"
{% endfor %}
    ;;
{% endfor %}
  *)
    printf 'Refusing unknown edge certificate: %s\n' "$certificate_name" >&2
    exit 64
    ;;
esac

docker compose \
  --project-name "{{ fun_games_edge_compose_project }}" \
  --file "{{ fun_games_edge_install_root }}/compose.yaml" \
  exec -T proxy nginx -t
docker compose \
  --project-name "{{ fun_games_edge_compose_project }}" \
  --file "{{ fun_games_edge_install_root }}/compose.yaml" \
  exec -T proxy nginx -s reload
